services:
  redis:
    image: redis

  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: votes

  vote:
    build: ./vote
    ports:
      - "5000:80"
    depends_on:
      - redis

  worker:
    build: ./worker
    depends_on:
      - redis
      - db

  result:
    build: ./result
    ports:
      - "5001:80"
    depends_on:
      - db

